/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
	margin: 0; 
	padding: 0;
}

html, body { height: 100%; }

body {
	background-color: #FFF;
	font: 13.34px Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%; }

	h1 { margin-bottom: 1em; }
	p { margin: 1em 0; }

	a         { color: #00a; }
	a:hover   { color: #000; }
	a:visited { color: #a0a; }

	table {
		font-size: inherit;
		font: 100%;
	}

	/*****************************************************************************/
/*
/* Geral
/*
/*****************************************************************************/
.main{
	width: 100%;
	height: 100%;
}

/*****************************************************************************/
/*
/* Navigation
/*
/*****************************************************************************/
#nav{
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.navHeader{
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

	width: 100%;
	box-sizing: border-box;
	height:7.882882882882883%;
}

.search{ 
	font-size: 1.4em; /* ((16 * 1.5) / 828) * 100*/
	width: 90%;
	margin:5px 0 5%;
	padding: 0 0.7em;
}

.contentMenu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top:7.882882882882883%;
	margin-bottom: 4.504504504504505%;
	height: 87.61261999999999%; /*87.761261%;*/
}

.listButtons {
	list-style: none;
	padding:0;
	width: 100%;
	height: 100%;
}

.listButtons li {
	width: 50%;
	height: 50%;
	float: left;
	overflow: hidden;
}

.icon, .icon a{
	position: relative;
	display: block;
	height: 99.99999%;
	width: 99.99999%;
}

.icon {
	background-image: url(/img/about.png);
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center center;
	border:1px solid #000;
}
.citation{
	width: 100%;
	position: absolute;
	bottom: 30px;
	text-align: center;
	vertical-align: bottom;
}

.footer{
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color: #fff;
	width: 100%;
	height:4.504504504504505%; /*20 / 828 * 100*/
	position: absolute;
	bottom: 0;
	left: 0;
}

/*****************************************************************************/
/*
/* Page
/*
/*****************************************************************************/
#page{
	width: 100%;
	height: 100%;
}

.logo{
	position: relative;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color: #fff;
	height: 11.26126126126126%;
	font-size: 3em;
}

.contextMenuIcon{
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	list-style-type: circle;
	color: #fff;
}

.contextMenuIcon li{
	line-height: 15px;
}

.posts li{
	border-bottom:2px dotted #7db9e8;
	background: hsl(210, 30%, 0%) -webkit-radial-gradient(hsl(210, 30%, 20%), hsl(210, 30%, 0%));
	position: relative;
	padding: 10px;
}

.posts li:last-child{
	border:none;
}
.posts li a{
	text-align: left;
	text-decoration: none;
	color:#fff;
}

.date{
	background:#7db9e8;
	position: absolute;
	top: 15px;
	left: 0;
	width: 50%;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	height: 26px;
}
.date:after{
	content: '';
	position: absolute;
	right: -15px;
	height: 0;
	width: 0;
	border-top: 13px solid #7db9e8;
	border-bottom:  13px solid #7db9e8;
	border-left:  13px solid #7db9e8;
	border-right:  13px solid transparent;
}

.title {
	padding-top: 45px;
	font-size: 1.5em;
}
.excerpt {
	font-size: 1.2em;
	overflow:hidden;
}
.excerpt p{
	margin: 0;
}

#page .footer {
	position: relative;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/
.post{
	margin: 10px;
	text-align: left;
}

.highlight{
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}