<nav id="nav">
	<header class="navHeader">
		<input type="search" class="search" placeholder="Pesquisar Posts" />
	</header>

	<section class="contentMenu">
		<ul class="listButtons">
			<li>
				<div class="icon">
					<a href="">
						<cite class="citation">Sobre</cite>
					</a>
				</div>
			</li>
			<li>
				<div class="icon">
					<a href="">
						<cite class="citation">Arquivo</cite>
					</a>
				</div>
			</li>
			<li>
				<div class="icon">
					<a href="">
						<cite class="citation">Tags</cite>
					</a>
				</div>
			</li>
			<li>
				<div class="icon">
					<a href="">
						<cite class="citation">Mapa</cite>
					</a>
				</div>
			</li>
		</ul>	
	</section>

	<footer class="footer">
		<span>&copy; 2013</span>
		<aside>
			<ul>
				<li>fb.com</li>
				<li>twitter</li>
				<li>github</li>
			</ul>
		</aside>
	</footer>
</nav>